body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#textBox {
  height: 150px
}

#recipeButton {
  background-color: #02BBD7;
  border: #02BBD7;
  margin-right: 5px;
}

#cancelButton {
  background-color: red;
  border: red;
  margin-right: 5px;
  color: white
}

.recipe-container-cols {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

.rec-cards {
  padding: 10px;
}

.mainpage {
  padding: 50px;
  padding-top: 100px;
}

.card-body {
  text-align: left;
  padding: 0px;
}

.recipetitlelink {
  color: #02BBD7;
  text-decoration: none;
}

.recipetitlelink:hover {
  color:rgb(11, 243, 243);
  font: bold;
}

.creator {
  text-align: left;
  color:#02BBD7;
}
