* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-around;
  height: fit-content;
  background-color: white;
  color: #02bbd7;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
}

.signup {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.navbar-brand {
  color: white !important;
  font-size: xx-large;
  font-weight: bolder;
}

.buttons-container {
  display: flex;
}

.title{
  color: white !important;
  text-decoration: none;
}
