h1{
    text-align: center;
    color: rgb(61, 61, 61);
    font-variant: small-caps;
    text-transform: capitalize;
}

h2{
    text-decoration-line: underline;
    text-decoration-style: solid;
}

h3{
    margin-top: 18px;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.detail{
    font-family: quicksand;
    padding-left: 200px;
    padding-right: 250px;
    padding-bottom: 10%;
    background-color: rgb(255, 255, 255);
}

.list{
    float: left;
    font-family: quicksand;
    margin-left: 30%;
    margin-right: 20%;
    padding-bottom: 10%;
    background-color: rgb(255, 255, 255);
}

#likes{
    font-style: small-caps;
    font-size: smaller;
    width: fit-content;
    margin-right: auto;
    margin-top: 18px;
    color: rgb(139, 139, 139);
    background-color: white;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
}

.buttons{
    cursor: pointer;
    text-decoration: none;
    font-family: calibri;
    color: white;
    background-color: #2cb9cfe7;
    float: right;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px rgba(163, 163, 163, 0.623);
    -webkit-transition: all 0.2s linear;
    transition: all 0.1s linear;
}

.buttons:hover{
    color: white;
    background-color: #02bbd7ab;
    -webkit-transition: all 0.3s linear;
    transition: all 0.1s linear;
}

.delete-button{
    cursor: pointer;
    text-decoration: none;
    font-family: calibri;
    color: white;
    background-color: rgb(255, 0, 0);
    float: right;
    border-radius: 5px;
    padding: 5px;
    margin-right: 8px;
    box-shadow: 1px 1px rgba(163, 163, 163, 0.623);
    -webkit-transition: all 0.2s linear;
    transition: all 0.1s linear;
}

.delete-button:hover{
    color: white;
    text-decoration: none;
    background-color: rgb(248, 96, 96);
    -webkit-transition: all 0.3s linear;
    transition: all 0.1s linear;
}

.line {
  left: 113px;
  width: auto;
  height: 0px;
  border-width: 1px;
  border-color: #F3F4F6FF;
  border-style: solid;
  transform: rotate(0deg);
}

.underline{
    justify-content: center;

    border-width: 4px;
    border-color: #02bbd75b;
    border-style: solid;
    border-radius: 2px;
    margin-bottom: 30px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid white;
    outline-offset: -18px;
    border: 1px solid rgb(43, 43, 43);
    padding: 10px;
    height: 350px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.664);
    box-shadow: 4px 4px 3px 1.5pt rgb(219, 219, 219);
}
